<table #myTable>
    <tr>
      <td>434</td>
      <td><input type="number"></td>
      <td><input type="number"></td>
    </tr>
    <tr>
      <td>43</td>
      <td><input type="number"></td>
      <td><input type="number"></td>
    </tr>
    <tr>
      <td>34</td>
      <td><input type="number"></td>
      <td><input type="number"></td>
    </tr>
    <tr>
      <td>44</td>
      <td><input type="number"></td>
      <td><input type="number"></td>
    </tr>
  </table>
  
  <p>Total Count: {{ totalCount }}</p>
  